//@import "variables.less";
//@import "mixins.less";


// BUTTON COLOR
.btn-uci-blue {
	.button-variant(white, @uci-blue, @uci-blue);
}

.btn-uci-red {
	.button-variant(white, @uci-red, @uci-red);
}

.btn-uci-black {
	.button-variant( white, @uci-black, @uci-black);
}

.btn-uci-yellow {
	.button-variant( @uci-black, @uci-yellow, @uci-yellow);
}

.btn-uci-green {
	.button-variant(white, @uci-green, @uci-green);
}

// TEXT COLOR
.text-uci-blue{
    color: @uci-blue;
}
.text-uci-red{
    color: @uci-red;
}
.text-uci-black{
    color: @uci-black;
}
.text-uci-yellow{
    color: @uci-yellow;
}
.text-uci-green{
    color: @uci-green;
}

.bg-uci-red{
    background-color: @uci-red;
    color: white;
    .h1, .h2, .h3, .h4 {
        color: white;
    }
}

