//@import "variables.less";
//@import "mixins.less";


// BUTTON COLOR
.btn-uci-blue {
	.button-variant(white, @uci-blue, @uci-blue);
}

.btn-uci-red {
	.button-variant(white, @uci-red, @uci-red);
}

.btn-uci-black {
	.button-variant( white, @uci-black, @uci-black);
}

.btn-uci-yellow {
	.button-variant( @uci-black, @uci-yellow, @uci-yellow);
}

.btn-uci-green {
	.button-variant(white, @uci-green, @uci-green);
}

// TEXT COLOR
.text-white{
    color: #fff;
    //color: #ECF0F1;
}

.text-clouds{
    color: #ECF0F1;
    //color: #ECF0F1;
}

.text-uci-blue{
    color: @uci-blue;
}
.text-uci-red{
    color: @uci-red;
}
.text-uci-black{
    color: @uci-black;
}
.text-uci-yellow{
    color: @uci-yellow;
}
.text-uci-green{
    color: @uci-green;
}

.bg-uci-red{
    background-color: @uci-red;
    color: white;
    .h1, .h2, .h3, .h4 {
        color: white;
    }
}

//ПОНЕСЛОСЬ ВСЯКОГО

.top-key{
    margin-top: -80px;
    margin-bottom: 20px;    
}

@media(min-width:768px){
    .top-key{
        margin-top: -100px;
        margin-bottom: 30px;
            
    }
    
}

.contact-form {
	//background-image: url('../../image/workshop-white.jpg');
        //background-image: url('../../image/mtb.jpg');
	//background-image: url('../../image/forest.jpg');
        //background-color: darken(@uci-green, 10%);
        background-image: url('../../image/forest.jpg');
        background-color: #2ECC71;
	
}
/*
@media(min-width:500px){
            .contact-form {
                background-image: url('../../image/forest.jpg');
                /*background-repeat: none;
                background-attachment: fixed;
                background-position: center center;
                .background-cover;
        }
} */

.homepage-header{
    background-image: url('../../image/header-bg2.jpg');
    background-color: #27AE60;
}

.validate-error-body{
    background-image: url('../../image/bike4-cr.jpeg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: top center;
}
@media(min-width:768px){
            .validate-error-body {
                background-image: url('../../image/bike4.jpeg');
                
        }
}        

.validate-error-header {
        padding: 70px 0px ;
	//background-image: url('../../image/bike4-cr.jpeg');
        //background-color: #27AE60;
        
	
}

@media(min-width:768px){
            .validate-error-header {
                //background-image: url('../../image/bike4.jpeg');
                padding: 100px 0px ;
        }
} 

.thanks-header {
	background-image: url('../../image/bike4.jpeg');
        background-color: #2980B9;
        padding: 70px 0px ;
        
        .thanks-message{
            padding-top: 0px;
            padding-bottom: 10px;
        }
        
        .phone{
            white-space: pre;
        }
	
        .thanks-header-h1{
            padding-bottom: 30px;
        }
}

@media(min-width:768px){
            .thanks-header {
                padding: 100px 0px ;
                
                .thanks-message{
                    padding-top: 50px;
                    padding-bottom: 20px;
                }
                
                .thanks-header-h1{
                    padding-bottom: 50px;
                }
        }
} 


.price-head {
	background-image: url('../../image/sky-car3.jpg');
	text-align: right;
}

.price-list{
    h4{
        padding-top: 60px;
    }
}

.thanks-video{
    background-color: #000;
    color: white;
    .lead {
        padding-top: 30px;
        padding-bottom: 10px;
        
    }
}

@media(min-width:768px) {
    .thanks-video{
        .lead {
            padding-top: 100px;
            padding-bottom: 0px;   
        }
    }
}

html, body{
    height: 100%; width: 100%;
    /*background-image: url('../../image/bike4.jpeg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center top;
    .background-cover;*/
}

.lexa-page {
    background-image: url('../../image/sativa.png');
    background-repeat: repeat;
   
   
    
}



